<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>History</title>
</head>
<body>
    <header>
        <a href="/" class="logo">Kaps</a>
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/index">Quiz</a>
            <a href="/about">About Us</a>
            <a href="/history" class="active">History</a>
        </nav>
    </header>
    
    <section class="history-section">
        <h1 class="history-title">Our History</h1>
        <article class="history-article">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, alias ea! Maiores, odit reiciendis dolorum, velit maxime sed necessitatibus dignissimos unde officiis accusantium culpa pariatur ea debitis fugit nobis iste.</p>
        </article>
        <article class="history-article">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum est officia corrupti eveniet expedita neque natus necessitatibus quas distinctio saepe repudiandae repellat, vel omnis ullam vitae eaque facilis tempore hic.</p>
        </article>
        <article class="history-article">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium debitis laborum corporis? Totam, amet magnam et dolores nostrum excepturi animi harum molestiae, suscipit atque voluptatibus quia. Obcaecati minima nisi optio.</p>
        </article>
    </section>
</body>
</html>
